.body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	/*Posição inicial*/
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	/*Deixar em negrito*/
	font-weight: bold;
	font-size: 22px;
	/*tirar o underline do link*/
	text-decoration: none;
}

nav a:hover {
	color: #c17c19;
	text-decoration: underline;
}

.produtos {
	/*Para largura dos produtos*/
	width: 940px;
	margin: 0 auto;
	/*espaçamento interno*/
	padding: 50px 0;
}

.produtos li {
	/*Para quebrar a quebra de linha*/
	display: inline-block;
	/*Para alinhar produtos ao centro*/
	text-align: center;
	/*Para Dar espaço entre os produtos*/
	width: 30%;
	/*Para ordernar os produtos pela parte de cima*/
	vertical-align: top;
	margin: 0 1.5%;
	/*padding = espaçamento interno*/
	padding: 30px 20px;
	/*Faz a largura (width) seja sempre 30% e os px de espaçamento interno estejam dentro desses 30%*/
	box-sizing: border-box;
	/*# coisas que sempre tem que ter numa borda:
	border-color: #000000;
	border-width: 2px;
	border-style: solid;*/
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #c17c19;
	font-size: 40px;
}

.produtos li:active {
	border-color: darkgreen;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	/*o comando 'margin: 10px 0 0;' dá no mesmo que o comando abaixo*/
	margin-top: 10px;
}

footer {
	background: url("../img/bg.jpg");
	text-align: center;
	padding: 40px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}


																			/*Página de Contato*/


main {
  width: 940px;
  /*centralizar formulario*/
  margin: 0 auto;
}

form {
	/*espacamento entre no comeco do form e entre o form e rodape*/
  margin: 40px 0;
}
form label, form legend {
    display:block;
    font-size: 20px;
    /*espaco entre a label e o que ta abaixo(espacamento externo)*/
    margin: 0 0 10px;
}


.input-padrao {
    display: block;
    /*margin pra baixo (espacamento externo)*/
    margin: 0 0 20px;
    /*10 pixel pra cima e pra baixo e 25 pros lados (espacamento interno)*/
    padding: 10px 25px;
    /*largura de 50% da page*/
    width: 50%;
} 

.checkbox {
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	/*faz com que a transição de todos os elementos acontecem em 1seg*/
	transition: 1s all;
	/*faz com que apreça uma mão no lgar da seta quando o mouse tá em cima*/
	cursor: pointer; 
}

.enviar:hover {
	background: darkorange;
	/*aumenta tudo em vezes 1.1(10%)*/
	transform: scale(1.1);
}

table {
	margin: 20px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}



																			/*css da pagina inicial*/


.banner {
	width: 100%
}

.titulo-principal {
	text-align: center;
	/*em medida proporcional pra px. se tiver 2em, é duas vezes o tamanho default*/
	font-size: 2em;
	/*espacamento proporcional ao tamanho da fonte. é comum isso*/
	margin: 0 0 1em;
	/*limpou o float que tinhamos olocado à esquerda*/
	clear: left;
	text-shadow: 2px 2px 3px red;
}

.principal {
	padding: 3em 0; 
	background: #Fefefe;
	width: 940px;
  /*centralizar formulario*/
  margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	/*deixe de ocupar o espaço em que estava, para que os outros elementos possam se posicionar ao redor dele*/
	float: left;
	/*cima; direita; baixo; esquerdo;*/
	margin: 0 20px 20px 0
}

.mapa {
	padding: 3em 0;
	/*faz o degradê. PODE usar graus e porcentagem: ...(45deg, 0 azul, 30% vermelho,...)*/
	/*radial no lugar de linear deixa redondo*/
	background: linear-gradient(#FEFEFE,#888888)
}

.mapa-conteudo {
	width: 940px;
  /*centralizar formulario*/
  margin: 0 auto;
}


.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
	/*inset = sombra interna*/
	box-shadow: inset 0 0 30px darkred;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	/*faz lista inline e elementos block*/ 
	display: inline-block;
	/*alinha lista pela parte de cima (a lista fica em cima)*/
	vertical-align: top;
}

.itens {
	/*espacamento entre os textos*/
	line-height: 1.5em;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "★";
}

.imagem-beneficios {
	width: 60%;
	opacity: 0.3;
	transition: 400ms;
  /*direito; baixo; arredondamente; espalhar*/
	box-shadow: -0 0 10px 7px #000000, -0 0 10px 15px gray, -0 0 10px 20px darkgray;
}

.imagem-beneficios:hover {
	opacity: 1;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/*pergunta pro navegador qual o tamanho da tela e se for tamanho que eu quero, entregar tal estilo*/
/*entrega estilo diferente para telas que tenham até 480px*/
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}

/*-----------------------------------------*/

/*pseudo elemento: esta selecionando primeiro elemento*/
/*é possível escolher um numero: 
.itens:nth-child(4) = quarto element
.itens:nth-child(2n) = todos elements pares*/

/*--------*/

/*pseudo elementos:
.titulo-principal:first-letter {
	font-weight: bold;
}*/
/*Criam espaco pra usar o css antes do elemnto. esse conteudo criado o mouse não consgue selecionar
.titulo-principal:before {
	content: "[";
}*/
/*Criam espaco pra usar o css depois do elemnto esse conteudo criado o mouse não consgue selecionar
.titulo-principal:after {
	content: "]";
}*/

/*p:first-line {
	font-style: italic;
}
*/

/*---------*/

/*o sinal > pega apenas os filhos diretos da main. se tiver um p dentro de uma div dentro da main, não é pego*/
/*Seletor >, para acessar os filhos de determinado elemento. Por exemplo, para acessar todos os p dentro de main:
*/
/*main > p */

/*seleciona o primeiro p (primeiro irmao) após uma img*/
/*Seletor +, para acessar o primeiro irmão de determinado elemento. Por exemplo, para acessar o primeiro p após um*/
/*img + p */

/*seleciona todos os p depois do img:*/
/*img ~ p*/

/*todos os p do principal que nao fazem parte do id missão:*/
/*.principal p:not(#missao)*/

/*é possível usar calculos pra fazer medidas*/
/*width: calc( (100% / 3) - 10px )*/

/*camada de opacidade: pelicula que fica por cima do elemento 
pra ver mais ou menos o elemento de baixo:
opacity : (vai de 0 à 1):

imagens-beneficios {
	opacity: 0.3;
	transition: 400mm;
}

imagens-beneficios {
	opacity: 1;
}

sobreamento de caixa:

imagem-beneficios {

}*/